<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" color="warning" (click)="gotoaddproduct()">เพิ่มสินค้า</ion-button>
    <ion-title color="dark">แสดงสินค้า</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>สินค้า</ion-card-title>
      <ion-card-subtitle>สินค้าทั้งหมดของร้าน</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let pro of products">
          <ion-thumbnail slot="start">
            <img [src]="'http://localhost/crudapi/'+pro.image"/>
          </ion-thumbnail>
          <ion-label>
            <h2>{{pro.name}}</h2>
            <p>ราคา: {{pro.price}} บาท</p>
          </ion-label>
          <ion-button slot="end" (click)="editProduct(pro)" color="primary">แก้ไข</ion-button>
          <ion-button slot="end" (click)="deletepro(pro.id)" color="danger">ลบ</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>